<link rel="stylesheet" type="text/css" href="/CSS/index.css">

<body>
  <header>
    <div class="header">
      <div class="header__imagen">
        <img class="imagen-header" src="Img/logo.png" >
      </div>
    </div>
  </header>

  <form action="/" method="post">
    <div id="contenido">
      <div id="verificacion">
        <center><input type="text" name="username" id="username"></center>
      </div>

      <div id="boton">
        <center><button class="btn btn-dark">Verificar usuario</button></center>
      </div>
    </div>
  </form>