<link rel="stylesheet" href="style.css">

<form action="/" method="post">
<div id="contenido">
  <div id="verificacion">
    <input type="text" name="username" id="username">
  </div>
  <div id="boton">
    <button type="submit">Verificar usuario</button>
  </div>
</div>
</form>