<link rel="stylesheet" href="/CSS/project.css">
{{#each project}}
<form action="/objectives/add/{{idProject}}" method="post">
{{/each}}
   <div class="container">
    <div class="frameObjective">
        <div class="title"><b>Nuevo Objetivo</b></div><br>
        <div class="list" id="create">
            <div class="name" id="name">
                <label>Objetivos</label>
                <input class="input" type="text" name="objective" id="objectives" checked
                    aria-checked="true" />
            </div>
<br>
            <div class="inputBox left">
                <button class="button" type="submit"><b>Guardar</b></button>
            </div>
            <div class="inputBox righ">
                <a class="button cancel" href="/project/list/{{user.idUser}}">Cancelar</a>
            </div>
        </div>
    </div>
    </div>
</form>