<link rel="stylesheet" href="/CSS/project.css">
{{#each list}}
<form action="/objectives/edit/{{idObjective}}" method="post">
    <div class="container">
        <div class="frame" id="updateObjective">
           
            <h1 class="title">Editar Objetivo</h1>
            <div class="none">
                <input class="input" type="text" name="idOjective" id="Objective" checked aria-checked="true"
                    value="{{idObjective}}" readonly>
            </div>
            <div class="userDetail">
                <label>Objetivo: </label>
                <input class="input" type="text" name="objective" id="objectives" checked aria-checked="true"
                    value="{{objective}}" />
            </div>
            {{/each}}
            <br>
            <div>
                <button type="submit" class="button"><a href="/project/list"></a><b>Guardar</b></button>
            </div>
        </div>
    </div>
</form>