<link rel="stylesheet" href="../../public/css/classification.css" />

<form action="/classification/add/{{user.iduser}}" method="post">
   <div class="fund">
    <div class="contents contents--small">
        <div class="title"><b>New classification</b></div><br>
        <div class="conten" id="contents">
            <div class="contents__name" id="name">
                <label class="label-name">Name the classification</label>
                <input class="input" type="text" name="name_classification" id="name_classification" checked
                    aria-checked="true" />
            </div>
            <div id="save">
                <button class="boton" type="submit"><b>Save</b></button>
            </div>
        </div>
    </div>
    </div>
</form>

<script src="../../public/js/objectives.js"></script>