<link rel="stylesheet" href="">

<form action="/userAssignment/createAssignment" method="post" enctype="multipart/form-data"></form>
<div class="container">
  <div class="title">Nueva asignacion</div><br><br>

  <div>
    
    <label>Usuarios<br><br>
      <input type="checkbox" id="cbox1" value="first_checkbox">{{firstName}}</label><br>

      <label>Roles<br><br>
      <input type="checkbox" id="cbox1" value="first_checkbox">{{firstName}}</label><br>

      <label>Permisos<br><br>
      <input type="checkbox" id="cbox1" value="first_checkbox">{{firstName}}</label><br>
  </div>
</div>
<div>
  <a href="/userAssignment/list"><button>Cancelar</button></a>
</div>