<link rel="stylesheet" href="/css/userAssignment/userCreate.css">

<form action="/userAssignment/createUser" method="post" enctype="multipart/form-data">
  <div id="title">
    <h1>Nuevo usuario</h1>
  </div>
  
  <div id="forms">

    <div id="name">
      <label>Nombre</label>
      <input id="input" type="text" name="firstName" aria-checked="true" required />
    </div>

    <div id="description">
      <label>Apellido</label>
      <input id="input" type="text" name="lastName" aria-checked="true" required />
    </div>

    <div id="mission">
      <label>Nombre de usuario</label>
      <input id="input" type="text" name="username" aria-checked="true" required />
    </div>

    <div id="vision" >
      <label>Correo</label>
      <input id="input" type="text" name="email" aria-checked="true" required />
    </div>

    <div id="vision">
      <div class="data">
        <label>Contraseña:</label>
        <input id="input" type="password" id="password" name="password" required>
      </div>
    </div>

    <div id="logo" >
      <div id="changeImage">
        <div class="data">
          <label>Foto:</label>
          <div class="changeImage">
            <img src="/img/NoImage.jpg" id="imagePreview">
          </div>
          <div id="file-select" id="src-file2">
            <input type="file" name="photo" id="filePicker" accept="image/*" aria-label="Archivo" aria-checked="true"
              required>
          </div>
        </div>
      </div>
    </div><br>

    <div id="butt1">
      <button type="submit">Crear</button>
    </div>
  </div>
  </div>
</form>
<div id="cancel">
  <a href="/userAssignment/list"><button>Cancelar</button></a>
</div>