<link rel="stylesheet" href="#">

<form action="/userAssignment/create" method="post" enctype="multipart/form-data">
  <div class="container">
    <div class="title">Nuevo usuario</div>
    <div class="contents">
      <label>Nombre</label>
      <input class="input" type="text" name="firstName" aria-checked="true" required />
      <label>lastName</label>
      <input class="input" type="text" name="lastName" aria-checked="true" required />
      <label>username</label>
      <input class="input" type="text" name="username" aria-checked="true" required />
      <label>password</label>
      <input class="input" type="text" name="password" aria-checked="true" required />
      <div id="photo">
        <label>Foto:</label>
        <div id="changeImage">
          <img src="/img/NoImage.jpg" id="imagePreview">
        </div>
        <input type="file" name="photo" id="filePicker" accept="image/*" required>
      </div>
      <label>email</label>
      <input class="input" type="text" name="email" aria-checked="true" required />

      <div>
        <button class="button" type="submit">Crear</button>
      </div>
    </div>
  </div>
</form>
<div>
  <a href="/userAssignment/list"><button>Cancelar</button></a>
</div>