<link rel="stylesheet" href="">

<form action="/userAssignment/list" method="POST" enctype="multipart/form-data">
  <table class="container">
    <center>
      <p>Usuarios</p>
    </center>
    <div align="right">
      <a href="/userAssignment/create"><button>Agregar usuario</button></a>
      <a href="/userAssignment/createAssignment"><button class="button"><b>Agregar asignacion</b></button></a>
    </div> <br><br>
    {{#each list}}

    <div class="center">
      <td>
        <div id="firstName">
          <label>Nombre</label>
          <p>{{firstName}}</p>
        </div>
      </td>

      <td>
        <div id="nameRol">
          <label>Rol</label>
          <p>{{nameRol}}</p>
        </div>
      </td>

      <td>
        <div id="namePermission">
          <label>Permiso</label>
          <p>{{namePermission}}</p>
        </div>
      </td>

      <td>
        <button pButton type="button" class="p-button-warning p-button-rounded mr-2" icon="pi pi-pencil"
          href="/exercise/update" [loading]="(loaded$|async)!"> Editar
        </button>
        <button pButton type="button" class="p-button-danger p-button-rounded" icon="pi pi-trash"
          pTooltip="Delete Teacher" href="/exercise/update" [loading]="(loaded$|async)!"> Eliminar
        </button>
      </td>
      {{/each}}
    </div>
  </table>
</form>