<link rel="stylesheet" href="">

<form action="/userAssignment/update/{{idUser}}" method="put" enctype="multipart/form-data"></form>
   <div class="container">
    <div class="title">Editar usuario</div>
    <div class="contents">
      
  </div>
</form>
<div>
  <a href="/userAssignment/list"><button>Cancelar</button></a>
</div>