body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 47%;
    width: 100%;
    height: fit-content;
    max-width: auto;
    max-height: fit-content;
}

.container #title {
    text-align: center;
    width: auto;
    height: auto;
    word-wrap: break-word;
    overflow: auto;
    margin: 2%;
}

.contents {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.contents #data {
    background-color: rgb(201, 214, 237);
    margin: 5%;
    padding: 2%;
    border: solid black 1px;
    border-radius: 10%;
}

.contents label {
    font-size: 20px;
}

.contents p {
    text-align: center;
}