*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    outline: none;
    text-decoration: none;

}

body{
    background-color: rgb(255, 255, 255);
}

.menu{
    
    transition: 0.3s;
}
.menu{
    background-color: rgb(0, 5, 58);
    position: absolute;
    width: 150px;
    height: 100%;
   font-family:Georgia, 'Times New Roman', Times, serif ;
 
    
}
.ajustes{
    background-color: rgb(39, 39, 39);
    height: 70px;
   font-size: 25px;
    position: relative;
  
  bottom: -42%;
   
}
.ajustes div{
    padding-top: 20%;
    padding-left: 35%;
}
.Menu_slider img{
    transition: 0.2s;
  
  }
.desplegar{
    transform: translateX(-100%);
    
}

.desplegar img{
    transform: translate(150px);
}
.OPO{
    
   height: 60px;
}
.OPO:hover{
    background-color: rgb(33, 38, 79);
}
.Menu_slider p{
    display: inline-block;
    position: relative;
    font-size: 25px;

}

.Menu_slider img:hover{
    width: 41px;
}
.menu_close{
    display: contents;
    position: relative;
}

/* user*/
.user_interfaz{
    background-color: rgb(255, 250, 243);
    height: 50px;
    border-style: solid;
    border-top: 5px;
    border-color: rgba(0, 0, 0, 0.37);
    display: inline-flex;
    width: 100%;
}

.user_interfaz p {
 padding-left: 90%;
    color: black;
    text-align: right;
    display: block;
    margin: auto;
}
.user_image{
    padding-right: 20px;
    border-radius: 20px;
    
}
.user_image button{
    border: none;
}
.user_image button:hover{
    background-color: rgb(154, 154, 154);
    border-radius: 25px;
}


.close_secion{
    padding-left: 90%;
    visibility: hidden;
}
.close{
    visibility: visible;
}
.close_secion button{
color: black;
height: 50px;
width: 120px;
}