#message {
    position: absolute;
    padding: 5% 0 0 37%;
}

.alert {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(12, 255, 4, 0.41);
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}

div .alert {
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 20px;
}