
*{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    outline: none;
    text-decoration: none;



}

.profileUser{
    
    display: block;
position: absolute;
   top: 250px;
    left: 35%;
    width: 600px;
    height: 400px;
}
.userImage{
    display: inline;
}
.userData{
    padding-left: 30px;
    display: inline-block;
}
.ajustes{
   position: absolute;
   top: 120px;
   left: 50%;
}
.ajustes h1{
    text-align: center;
    color: black;
}
.toEdit{
    position: relative;
    top: 200px;
    left: 30%;
}
.toEdit1 button{
    position: relative;
    top: -40px;
    left: 50%;
    color: black;
    width: 100px;
    height: 40px;
    background-color: rgb(80, 135, 255);
    border-radius: 10px;
    border: none;
}
.toEdit button{
    color: black;
    width: 100px;
    height: 40px;
    background-color: rgb(80, 135, 255);
    border-radius: 10px;
    border: none;
}
td{
    color: black;
}

.texting{
    color: black;
}