button {
    color: white;
}


@media (min-width: 900px) {

    .toEdit button:hover {
        background-color: #002a61;
    }

    .profileTwo {

        visibility: hidden;

        position: absolute;
        z-index: 1;
        top: -205px;
        height: 250px;
        width: 600px;
        border: 2px solid transparent;
        border-color: black;
        border-radius: 25px;
        display: block;
    }

    .changeImage {
        display: inline-block;
    }


    .displasment {
        visibility: visible;
    }

    .profileUser {

        display: block;
        position: absolute;
        top: 50px;
        left: 30%;
        border-radius: 50%;

    }

    .userImage {
        display: inline-flex
    }

    .userImage img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        box-shadow: 2px 3px rgba(0, 0, 0, 0.299);
    }

    .userData {
        padding-left: 50px;
        display: inline-block;
    }

    .aju {
        position: absolute;
        top: -60px;
        left: auto;
    }

    .ajustes h1 {
        text-align: center;
        color: black;
    }

    .toEdit {
        position: relative;

        left: 30%;
    }

    .toEditOne {
        position: relative;
        top: 250px;
        left: 30%;
    }

    .toEditOne button {

        width: 100px;
        height: 40px;
        background-color: #093faa;
        border-radius: 10px;
        border: none;
    }

    .toEdit button {

        width: 100px;
        height: 40px;
        background-color: #093faa;
        border-radius: 10px;
        border: none;
    }

    .toEditTree {
        display: inline-block;
    }

    .toEditTree button {


        width: 100px;
        height: 40px;
        background-color: #093faa;
        border-radius: 10px;
        border: none;
        display: inline-block;
    }

    #cancel {
        background-color: red;
    }

    .buttonsView {
        position: relative;
        left: 60%;
        bottom: 10px;
    }

    .texting {
        color: black;
    }

    #imagePreview {
        height: 200px;
        width: 200px;
        border-radius: 120px;
    }

    #imageview {
        height: 200px;
        width: 200px;
        border-radius: 120px;
        position: absolute;
    }

    .borderTable p {
        border: 2px solid transparent;
        border-radius: 15px;
        color: black;
        border-color: black;
        width: 110%;
        padding-left: 5px;

    }

    .borderTableTitle p {

        border: 2px solid transparent;
        width: 110%;
        border-radius: 11px;
        color: black;
        border-color: black;
        background-color: #D0D3D4;
        padding-left: 5px;

    }

    td {
        padding: 5px;
    }

    .texting {
        border: 2px solid transparent;
        width: 110%;
        border-radius: 11px;
        color: black;
        border-color: black;

        padding-left: 5px;
    }
}

/*---------------------------------------------------------------------------------------------------*/

@media (max-width: 900px) {

    .title {
        position: absolute;
        left: 33%;

    }

    .userImageEdit img {
        width: 100px;
        height: 100px;
    }


    .toEdit button:hover {
        background-color: #002a61;
    }


    .profileUser {

        display: block;
        position: absolute;
        top: 200px;
        left: 5%;
        z-index: -2;

    }

    .userImage {
        display: block
    }

    .userImage img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        box-shadow: 2px 3px rgba(0, 0, 0, 0.299);
    }

    .userData {
        padding-left: 15px;
        display: inline-block;
    }


    .toEdit {
        position: relative;

        left: 30%;
    }

    .toEditOne {
        position: relative;
        top: 250px;
        left: 30%;
    }

    .toEditOne button {
        color: black;
        width: 100px;
        height: 40px;
        background-color: #093faa;
        border-radius: 10px;
        border: none;
    }

    .toEdit button {
        color: black;
        width: 100px;
        height: 40px;
        background-color: #093faa;
        border-radius: 10px;
        border: none;
    }



    .texting {
        color: black;
    }

    #imagePreview {
        height: 350px;
        width: 350px;
        border-radius: 50%;
    }

    .borderTable p {
        border: 2px solid transparent;
        border-radius: 15px;
        color: black;
        border-color: black;
        width: 110%;
        padding-left: 5px;

    }

    .borderTableTitle p {

        border: 2px solid transparent;
        width: 110%;
        border-radius: 11px;
        color: black;
        border-color: black;
        background-color: #D0D3D4;
        padding-left: 5px;

    }

    td {
        padding: 5px;
    }

    .texting {
        border: 2px solid transparent;
        width: 110%;
        border-radius: 11px;
        color: black;
        border-color: black;

        padding-left: 5px;
    }
}