#container {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 57%;
    max-height: 28%;
    top: 30%;
    left: 20%;
    text-align: center;
    background-color: #d0d3d4;
    border-radius: 20px;
}



#name {
    position: absolute;
    width: 100%;
    max-width: 50%;
    top: 20%;
    height: 100%;
    max-height: 30%;
    font-size: 20px;

}


#buttonCancel {
    position: absolute;
    width: 100%;
    max-width: 50%;
    top: 70%;
    height: 100%;
    max-height: 10%;
}

#buttonCreate {
    position: absolute;
    width: 100%;
    max-width: 50%;
    top: 70%;
    left: 50%;
    height: 100%;
    max-height: 10%;
}

#buttonCancel button {
    border: 1px #6f6f6f solid;
    background-color: #6f6f6f;
    color: white;
    width: 30%;
    border-radius: 7px;
    height: 130%;
    border: none;
    font-size: 15px;
}

#buttonCreate button {
    padding: 2 6%;
    background-color: #093faa;
    color: white;
    width: 30%;
    border-radius: 7px;
    height: 130%;
    border: none;
    font-size: 15px;
}

label {
    position: absolute;
    width: 100%;
    left: 5%;
}

input {
    position: absolute;
    top: 100%;
    left: 20%;
    width: 100%;
    height: 110%;
    border-radius: 7px;
    border: none;
}

textarea {
    position: absolute;
    top: 100%;
    left: 20%;
    width: 80%;
    border-radius: 7px;
    background-color: #9e9e9e;
    border: none;
}

@media only screen and (orientation: portrait) and (max-width: 1000px) and (min-width: 667px) {
    #container {
        max-width: 100%;
        left: 0%;
    }
}

@media only screen and (orientation: portrait) and (max-width: 667px) and (min-width: 384px) {
    #container {
        max-width: 100%;
        left: 0%;
    }

}

@media only screen and (orientation: portrait) and (max-width: 384px) and (min-width: 150px) {
    #container {
        max-width: 100%;
        left: 0%;
    }

}