* {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    outline: none;
    text-decoration: none;

}

body {
    background-color: rgb(249, 242, 242);
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 50%;
    max-height: 60%;
    top: 20%;
    left: 25%;
    text-align: center;
    background-color: rgb(200, 204, 208);
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#title {
    margin-top: 5%;
    top: 20%;
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#nameQuestion {
    position: absolute;
    top: 20%;
    width: 100%;
    left: 0%;
    border: 5px;
    font-size: 25px;
    border-radius: 6px;
}


#buttonGroup1 {
    position: absolute;
    top: 80%;
    left: 24%;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttonCancel {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color:#6f6f6f;
    color:#000 ;
}

#button {
    border-radius: 5px;
    border: none;
    padding-left: 40px;
    padding-right: 10px;
    background-color: #004AAD;
    color: #FFFFFF;
}