<LINK REL=StyleSheet HREF="/css/login.css" TYPE="text/css" MEDIA=screen>
{{#each usuario}}
<form action="/login/{{idusuario}}" method="POST" id="ingresar">
  <div id="contenedor" class="container">
    <div class="imagen__logo">
      <img class="mx-auto d-block" src="/IMG/logo-icon.png" alt="">
    </div>
    <div id="login">
      Login
    </div>
    <div id="datos">
      <input type="text" id="Nombre" name="username" value="{{username}}" placeholder="Usuario:">
    </div>
    {{/each}}
    <div id="contraseñas">
      <input type="password" id="password" name="password" placeholder="Contraseña:">
    </div>
    <div>
      <button type="submit" id="boton"><b>Ingresar</b></button>
    </div>
    <!--  
    <div id="sesion">
     <a href="/Registro"><button type="button">Registro</button></a>
    </div>
    -->
  </div>
</form>