<link rel="stylesheet" href="/css/navegacion.css">
{{#if user}}
<header>
<nav class="navbar__navegacion">
  <div id="nav1">
    <a id="nav" href="/clasificacion/listar/{{user.idusuario}}"> Clasificación</a>
  </div>
  <div id="nav2">
    <a href="/codificacion/listar/{{user.idusuario}}"> Codificación</a>
  </div>
  <div id="nav3">
    <a href="/estructura/listar/{{user.idusuario}}"> Estructura</a>
  </div>
  <div id="nav4">
    <a href="/prueba/listar/{{user.idusuario}}"> prueba</a>
  </div>
  <div id="nav5">
    <a href="/CerrarSecion">Cierre la Sesión</a>
  </div>
</nav>
</header>
{{/if}}