<LINK REL=StyleSheet HREF="/css/registro.css" TYPE="text/css" MEDIA=screen>
<form action="/registro" method="POST">
  <div id="imagen">
    <img src="/img/fondo.png">
  </div>
  <div id="contenedor">
    <div id="nombres">
      <p id="usuario">Registro</p>
    </div>
    <div id="username">
      <input type="text" id="Nombre" name="username" placeholder="Usuario:">
    </div>
    <div id="contraseñas">
      <input type="password" id="password" name="password" placeholder="Contraseña:">
    </div>
    <div id="nombre_completo">
      <input type="text" id="nombre_completo" name="nombre_completo" placeholder="Nombre completo:">
    </div>
    <div id="email">
      <input type="text" id="email" name="email" placeholder="Correo:">
    </div>
    <div id="boton">
      <button type="submit">Guardar</button>
    </div>
  </div>
</form>