<form action="/prueba/respuestas/{{user.idusuario}}" method="post">
  <div id="contenido">
    <div id="respuestas">
      <div id="objetivos">
        <label>Respuestas:</label>
        <input type="text" id="numeros" />
        <button type="button" onclick="objetivos.crear()">-></button>
      </div>
    </div>
    <div id="guardar">
      <button type="submit">Guardar</button>
    </div>
  </div>
</form>
<script src="/JS/objetivos.js"></script>