<link rel="stylesheet" href="#" />
{{#each language}}
<form action="/exercise/create/{{idLanguage}}" method="post">
  {{/each}}
  <div class="container">
    <div class="title">Nuevo ejercicio</div>
    <div class="contents">
      <label>Nombre</label>
      <input class="input" type="text" name="nameExercise" aria-checked="true" required />
      <label>Descripción</label>
      <input class="input" type="text" name="descriptionExercise" aria-checked="true" required />
      <label>Puntaje</label>
      <input type="number" name="punctuationExercise">
      <div>
        <label>Lenguaje</label>
        {{#each language}}
        <input class="input" type="text" name="nameLanguage" aria-checked="true" value="{{nameLanguage}}" readonly />
        {{/each}}
      </div>
      <div>
        <label>Codigo</label>
        <select name="codeIdCode">
          {{#each codes}}
          <option value="{{idCode}}">{{nameCode}}</option>
          {{/each}}
        </select>
      </div>
      <div>
        <button class="button" type="submit">Crear</button>
      </div>
    </div>
  </div>
</form>
<div>
  <a href="/exercise/listLanguages"><button>Cancelar</button></a>
</div>