
<link rel="stylesheet" href="">

<form action="/exercise/create" method="POST" enctype="multipart/form-data">
  <div id="container">
    <div id="title">
      <h1>crear ejercicio</h1>
    </div>
</form>