<link rel="stylesheet" href="#" />

<form action="/exercise/list" method="get"></form>
<div class="container" id="container">
  {{#each list}}
  <div class="contents">
    <div class="name">
      <p>{{nameExercise}}</p>
    </div>
    <div id="detail">
      <a href="/exercise/detail/{{idExercise}}"><button class="button">Detalle</button></a>
    </div>
  </div>
  {{else}}
  <div class="message">
    <p>No tiene ejercicios registrados actualmente</p>
    <p>¿Desea agregar uno?</p>
  </div>
  {{/each}}
  <div>
    <a href="/exercise/create"><button class="button">Agregar ejercicio</button></a>
  </div>
</div>