<link rel="stylesheet" href="">

<form action="/exercise/list" method="POST" enctype="multipart/form-data">
  <div class="container">
    <center>
      <p>Ejercicios</p>
    </center> 
    <div>
      {{#each list}}
      
        <div>
          <button><h2>{{nameExercise}}</h2></button>
        </div>
        
      {{/each}}
    </div>
    <a href="/create"><button class="button"><b>Nuevo Ejercicio</b></button></a>
  </div>
</form>