<link rel="stylesheet" href="">

<form action="/exercise/list" method="POST" enctype="multipart/form-data">
  <div id="container">
    <div id="title">
      <h1>list ejercicio</h1>
    </div>
</form>