<link rel="stylesheet" href="">

<form action="/exercise/edit'/" method="POST" enctype="multipart/form-data">
  <div id="container">
    <div id="title">
      <h1>update ejercicio</h1>
    </div>
</form>