<link rel="stylesheet" href="/src/public/css/profile.css">
<div class="ajustes">
  <h1>Ajustes</h1>
</div>

<div class="profile_user">
  <div class="profile">
    <div class="user_image">
      <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="sampleFlie" accept="image/*" />
        <div class="to_edit1">
          <button id="editar" type="submit">Editar foto</button>
        </div>
      </form>
    </div>
  </div>

  <table class="user_data">
    <form action="/asd" method="post">
      <tr>

        <td>Nombre</td>

        <td><input type="text" name="user_name" class="texting" value="{{username}}"> </td>

        <td><img src="/edit.png" alt="" width="40px"></td>

      </tr>

      <tr>

        <td>Correo</td>

        <td><input type="text" name="user_email" class="texting" value="{{email}}"></td>

        <td> <img src="/edit.png" alt="" width="40px">

      </tr>
      <tr>

        <td>contraseña</td>

        <td><input type="password" name="password" class="texting" value="{{password}}"></td>

        <td> <img src="/edit.png" alt="" width="40px">

      </tr>
       <tr>

        <td>Rol</td>

        <td><input type="text" name="user_rol" class="texting" value="{{ idUserRol}}"></td>

        <td> <img src="/edit.png" alt="" width="40px">

      </tr>

      <div class="to_edit">
        <a href="/"><button id="editar" type="submit">Guardar</button></a>
      </div>
    </form>
  </table>

</div>

</div>