 <div class="ajustes">
        <h1>Ajustes</h1>
    </div>
   
     <div class="profile_user">
        <div class="profile">
        <div class="user_image">
            <img src="/img/user/{{photo}}"
            height="250px" alt="user profile">
           
        </div>
        
            <table class="user_data" >

                <tr>
              
                  <td>Nombre</td>
              
                  <td>value="{{username}}"</td>
              
                 
              
                </tr>
              
                <tr>
              
                  <td>Correo</td>
              
                  <td>value="{{Correo}}"</td>
              
                  
              
                </tr>
              
              </table>
       
     </div>
     <div class="to_edit">
        <a href="/edit_profile.html"><button id="editar">Editar</button ></a> 
     </div>
    </div>