<link rel="stylesheet" href="/src/public/css/profile.css">
 <div class="ajustes">
  <form action="/user_profile/profile_view" method="get"></form>
        <h1>Ajustes</h1>
    </div>
    {{#each User}}
     <div class="profileUser">
        <div class="profile">
        <div class="userImage">
            <img src="/img/user/{{photo}}"
            height="250px" alt="user profile">
          {{/each}} 
        </div>
         {{#each User}}
            <table class="userData" >

                <tr>
              
                  <td>Nombre</td>
              
                  <td><p >{{username}}</p></td>
              
                 
              
                </tr>
              
                <tr>
              
                  <td>Correo</td>
              
                  <td><p>{{email}}</p></td>
              
                  
              
                </tr>

                  <tr>
              
                  <td>contraseña</td>
              
                  <td><p>{{password}}</p></td>
              
                 
              
                </tr>
                <tr>
              
                
              
              </table>
       {{/each}}
     </div>
     <div class="toEdit">
        <a href="/"><button id="editar">Editar</button ></a> 
     </div>
    </div>