*{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    outline: none;
    text-decoration: none;

}

body{
    background-color: rgb(249, 242, 242);
}

#container{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 50%;
    max-height: 25%;
    top: 20%;
    left: 25%;
    background-color:#d3d4d6;
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    margin: 30px;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    align-items: start;
    justify-content: start;
    border-radius:20px;
}

#title {
    top: 15%;
    font-size: 30px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-left: 10px;
 }

 #inputText > * {
    display: inline-block; 
}

button {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#textGroup {
    position: absolute;
    top: 10%;
    gap: 25%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#buttonGroup {
    position: absolute;
    display: flex;
    top: 65%;
    width: 100%;
    justify-content: space-around; 
    flex-direction: row;
}

#descriptionTest label {
    float: left;
}

#buttonColumn {
    display: flex;
    flex-direction: row;
}

#textElement {
    border-radius: 5px;
    width: 10px;
}

#btnCreate{
    background-color: #004AAD;
    color: #FFF;
}

#container label{
    position: absolute;
    left: 2%;
}

#container input{
    position: absolute;
    width: 70%;
    left: 20%;
}

#container textarea{
    position: absolute;
    width: 70%;
    left: 20%;
}