*{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    outline: none;
    text-decoration: none;
}

body{
    background-color: rgb(249, 242, 242);
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnAdd {
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: #004AAD;
    color: #FFFFFF;
}

#btnEdit {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#createTest {
    position: absolute;
    top: 10%;
    right: 5%;
}

#buttonMessage {
    background-color: #093FAA;
    border: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 5px;
    color: #FFFFFF;
}

#container{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 20%;
    max-height: 30%;
    top: 18%;
    left: 20%;
    text-align: center;
    background-color: #d0d3d4;
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    margin:30px;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-radius:20px;
}
