*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);*/
}
#imagen{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-procesador-microchip-realista_52683-58446.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-decoration: none;
    position:relative;
    height: 100vh;
    z-index: -1;
}

.imagen__logo img{
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 130px;
    margin-top: -130px;
    height: 100px;
    width: 100px;

}
#contenedor{
    margin-top: -550px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 50px 20px;
    background: #fff;
    border-radius: 30px;
}
#login{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: black; 
    text-transform: uppercase;
    font-weight: bolder;
}
#contraseñas input{
    margin-bottom: 20px;
}
input{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border:none;
    background: #f2f2f2 ;
    font-size: 16px;
    outline: none;
}
button{
    display: flex;
    padding: 10px 40px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-size: 14px;
    background: #000000;
    color: white;
    cursor:  pointer;
    border-radius: 5px;
    font-weight: bold; 
}
button:hover {
    transition: ease-in-out;
    background: #02B9EF;
    color: #000000;
}
@media only screen and (max-width: 1080px) {
    .imagen__logo img{
        margin-left: 170px;
        margin-right: auto;
    }
}
@media only screen and (max-width: 1000px) {
    #contenedor{
        width: 40%;
    }
    .imagen__logo img{
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 850px) {
    #contenedor{
        width: 50%;
    }
}
@media only screen and (max-width: 768px) {
    #contenedor{
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    #contenedor{
        width: 55%;
    }
}
@media only screen and (max-width: 500px) {
    #contenedor{
        width: 70%;
    }
}
@media only screen and (max-width: 350px) {
    #contenedor{
        width: 90%;
    }
}
@media only screen and (max-width: 160px) {
    #contenedor{
        width: 100%;
    }
    button{
        padding: 5px 20px;
    }
}




