*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    background: #03B8F1;
    width: 100%;
    height: 70px;
    z-index: 100;
    border-bottom: 3px solid black;
} 
.menu{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: flex-end;
}
.menu:hover > .menu__boton{
    display: none;
}
.menu:hover > .navbar__navegacion{
    margin-top: 250px;
    background-color: black;
    position: relative;
    display:flex;
    flex-direction: column;
}
.menu__boton{
    margin-right: 30px;
    width:100px;
    transition: 0.3s;
}
.menu__boton img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.menu__boton img{
    margin-left:25px;
    width:50%;
    transition: 0.3s;
}
.navbar__navegacion {
    display: none;
    float: right; 
 }
.navbar__navegacion div {
    text-decoration: none;
    overflow: hidden; 
    float: left;
  }
.navbar__navegacion div a {
    text-decoration: none;
    display: block; 
    padding: 20px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s ease all;
}
.navbar__navegacion div a:hover{
    background-color: #3c0558b2;
    color: #FFF;
    font-weight: 700;
    transform: translateY(15px);
    letter-spacing: 2px;
}
#logo{
    float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
    color: #000000;
    display: block;
	font-weight: 700;
	font-size: 25px;
    transition: ease-in 1s;
}
#logo:hover{
    transform: translateZ(1px);
    letter-spacing: 2px;
    cursor: pointer;
}
@media only screen and (min-width: 900px){

    .menu__boton{
        display: none;
    }
    .navbar__navegacion{
        display: block;
    }
    .menu:hover > .menu__boton{
        display: none;
    }
    .menu:hover > .navbar__navegacion{
      display: flex;
      background: none;
      flex-direction: row;
      margin-top: 0;
    }

} 