*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    background: #03B8F1;
    width: 100%;
    height: 70px;
    z-index: 100;
    border-bottom: 3px solid black;
} 
.menu{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: flex-end;
}
.menu:hover > .menu__boton{
    display: none;
}
.menu:hover > .navbar__navegacion{
    margin-top: 310px;
    background-color: rgb(0, 68, 255);
    position: relative;
    display:flex;
    flex-direction: column;
}
.menu__boton{
    margin-right: 30px;
    width:100px;
    transition: 0.3s;
}
.menu__boton img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.menu__boton img{
    margin-left:25px;
    width:50%;
    transition: 0.3s;
}
.navbar__navegacion {
    display: none;
    float: right; 
 }
.navbar__navegacion div {
    text-decoration: none;
    overflow: hidden; 
    float: left;
  }
.navbar__navegacion div a {
    text-decoration: none;
    display: block; 
    padding: 20px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s ease all;
}
.navbar__navegacion div a:hover{
    background-color: #3c0558b2;
    color: #FFF;
    font-weight: 700;
    transform: translateY(15px);
    letter-spacing: 2px;
}
#nav5 a:hover {
    letter-spacing: 0px;

}
#logo img{
    float: left;
    height: 50px;
    width: 235px;
    margin-left: 25px;
    margin-top: 8px;
}
@media only screen and (max-width: 1035px){

    #logo img{
        height: 35px;
        width: 215px;
        margin: 15px 8px;
    }

} 
@media only screen and (min-width: 990px){

    .menu__boton{
        display: none;
    }
    .navbar__navegacion{
        display: block;
    }
    .menu:hover > .menu__boton{
        display: none;
    }
    .menu:hover > .navbar__navegacion{
      display: flex;
      background: none;
      flex-direction: row;
      margin-top: 12px;
    }

} 
@media only screen and (max-width: 375px){

    #logo img{
        display: none;
    }
    .menu__boton{
        margin-right: auto;
        margin-left: auto;
       
    }

} 

