body {
    background-image: url('/IMG/contenidos.jpeg');
    background-position-x: 50%;
    background-position-y: 80%;
}
.fondo {
    height: auto;
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    margin:30px;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    padding: 15px;
    background-color: rgba(1, 1, 1, 0.776) ;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    border-radius:20px;
    text-align: center;
}
.contenido {
    width: 50%;
    flex-direction: column;
    display: flex;
    margin-bottom: 40px;
}
.input {
    width: 97%;
    margin-left: 5px;
    margin-bottom: 10px;
    text-align: center;
    height: 35px;
    border-radius: 8px;
    transition: 0.3s;
}
.input:hover {
    border: 1px solid #85C1E9;
}

.label {
    margin-left: 5px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
}
.textarea {
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid black;
    text-align: center;
    width: 96%;
    margin-left: 5px;
}
.boton{
    margin-bottom: 10px;
    margin-left: 15px;
    background-color: #af83c1;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    width: 150px;
    height: 40px;
    color: black;
    transition: 0.3s;
}

.boton:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid #85C1E9;
    color: black;
    background-color: white;
}
@media only screen and (max-width: 800px) {
    .fondo {
        width: 70%;
    }
    .contenido {
        width: 70%;
    }
}
@media only screen and (max-width: 500px) {
    .fondo {
        width: 90%;
    }
    .contenido {
        width: 90%;
    }
}
@media only screen and (max-width: 200px) {
    .fondo {
        width: 99%;
    }
    .contenido {
        width: 99%;
    }
    .boton{
        width: 100px;
        height: 40px;
    }
}