body {
    background-image: url(https://us.123rf.com/450wm/monsitj/monsitj1803/monsitj180300036/97366502-c%C3%B3digo-de-programaci%C3%B3n-de-tecnolog%C3%ADa-de-fondo-abstracto-de-desarrollador-de-software-y-script-de-com.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}