body {
    background-image: url('/IMG/contenidos.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
button{
    margin-top: 10px;
    background-color:#424242;
    border-radius: 10px;
    border:none;
    font-size: 18px;
    width: 185px;
    height: 45px;
    color: white;
    transition: 0.3s;
    margin-left: 45%;
}
