<link rel="stylesheet" href="/css/estructura-agregar.css" TYPE="text/css" MEDIA=screen />

<form action="/estructura/agregar/{{user.idusuario}}" method="post">
    <div id="contenido" class="container">
    <div class="contenido">
        <div id="nombre">
            <label class="elemento__titulo">Codificación:</label>
            <input type="text" name="nombre" id="nombre" checked aria-checked="true" />
        </div>
        <div id="descripcion">
            <label class="elemento__titulo">Descripcion:</label>
            <textarea type="text" name="descripcion" id="descripcion_css" checked aria-checked="true"></textarea>
        </div>
        <div id="codificacion">
            <select name="codificacion" id="">
                {{#each codificacion}}
                <option value="{{idcodificacion}}">{{nombre}}</option>
                {{/each}}
            </select>
        </div>
        <div id="codigo">
            <label class="elemento__titulo">Codigo:</label>
            <textarea type="text" name="codigo" id="codigo_css" checked aria-checked="true"></textarea>
        </div>
        <div id="guardar">
            <button type="submit" class="boton mx-auto" >Guardar</button>
        </div>
    </div>
    </div>
</form>

<script src="/JS/comentarios.js"></script>