<link rel="stylesheet" href="" />

<form action="/estructura/agregar/{{user.idusuario}}" method="post">
    <div id="contenido">
        <div id="nombre">
            <label>Nombre del codigo</label>
            <input type="text" name="nombre" id="nombre" checked aria-checked="true" />
        </div>
        <div id="descripcion">
            <label>Descripcion</label>
            <textarea type="text" name="descripcion" id="descripcion_css" checked aria-checked="true"></textarea>
        </div>
        <div id="codificacion">
            <select name="codificacion" id="">
                {{#each codificacion}}
                <option value="{{idcodificacion}}">{{nombre}}</option>
                {{/each}}
            </select>
        </div>
        <div id="codigo">
            <label>Codigo</label>
            <textarea type="text" name="codigo" id="codigo_css" checked aria-checked="true"></textarea>
        </div>
        <div id="guardar">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>

<script src="/JS/comentarios.js"></script>