<link rel="stylesheet" href="style.css">

<form action="/question/create/{{user.idUser}}" method="post">
 <div id="container">
    <div id="title">
        <p> Ingresar Pregunta</p>
    </div>
    <div id="nameQuestions">
        <label>Pregunta</label>
        <input type="text" name="nameQuestions" id="" required aria-checked="true">
    </div>
    <div id="button">
        <button type="submit">Guardar</button>
    </div>
 </div>
</form>