<link rel="stylesheet" href="/css/question/update.css">
{{#each list}} 
<form action="/question/update/{{idQuestions}}" method="post">
 <div id="container">
    <div id="title">
        <p>Agregar Prueba</p>
    </div>
    <div id="nameQuestion">
        <label>Nombre:</label>
        <input type="text" name="nameQuestions" id="" required aria-checked="true" value="{{nameQuestions}}">
    </div>
    <div id="descriptionQuestion">
        <label>Descripcion</label>
        <textarea name="descriptionQuestions" id="" required aria-checked="true">{{descriptionQuestions}}</textarea>
    </div>
    <div id="button">
        <button type="submit">Guardar</button>
    </div>
 </div>
 
</form>
{{/each}}