<link rel="stylesheet" href="/css/question/update.css">
{{#each list}}
<form action="/question/update/{{idQuestion}}" method="post">
     <div id="title">
            <p>Editar Pregunta </p>
        </div>
    <div id="container">
        <div id="nameQuestion">
            <label>Pregunta:</label>
            <input type="text" name="nameQuestion" id="icon" required aria-checked="true" value="{{nameQuestion}}">
            <i class="bi bi-pencil-square"></i>
        </div>
        <div id="button">
            <button type="submit">Guardar</button>
        </div>
        <div id="buttonCancel">
            <button type="submit">Cancelar</button>
        </div>
    </div>

</form>
{{/each}}