<link rel="stylesheet" href="/css/question/update.css">
{{#each list}}
<form action="/question/update/{{idQuestion}}" method="post">
    <div id="container">
        <div id="title">
            <p>Agregar Prueba</p>
        </div>
        <div id="nameQuestion">
            <label>Nombre:</label>
            <input type="text" name="nameQuestion" id="" required aria-checked="true" value="{{nameQuestion}}">
        </div>
        <div id="descriptionQuestion">
            <label>Descripcion</label>
            <textarea name="descriptionQuestion" id="" required aria-checked="true">{{descriptionQuestion}}</textarea>
        </div>
        <div id="button">
            <button type="submit">Guardar</button>
        </div>
    </div>

</form>
{{/each}}