<link rel="stylesheet" href="/css/index.css">

<div class="container">
    <form action="/" method="post">
        <div id="title">
            <h1>Bienvenido</h1>
        </div>
        <div class="validation">
            <p>Nombre de usuario</p>
            <input type="text" name="validate" required>
        </div>
        <div class="btnValidation">
            <button type="submit" id="button">Continuar</button>
        </div>
    </form>
</div>