<link rel="stylesheet" type="text/css" href="">

<div class="container">
    <form action="/" method="post">
        <div id="title">
            <h2>Validación</h2>
        </div>
        <div id="validation">
            <input type="text" name="validate" id="validate" placeholder="Nombre de usuario " required>
        </div>
        <div id="btnValidation">
            <div id="button">
                <button type="submit">Continuar</button>
            </div>
        </div>
    </form>
</div>