body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 5%;
    text-align: center;
    height: fit-content;
    max-width: 100%;
    max-height: fit-content;
}

.container #title,
#description {
    text-align: justify;
    width: auto;
    height: auto;
    word-wrap: break-word;
    margin: 1% 0 0 0;
}

#description {
    font-size: 20px;
}

.contents {
    display: flex;
    justify-content: left;
    height: fit-content;
    flex-wrap: wrap;
    word-wrap: break-word;
}

#data {
    max-width: 40%;
    background-color: rgb(240, 249, 253);
    margin: 1%;
    padding: 0 2% 1% 2%;
    border: solid black 1px;
    border-radius: 20px;
}

#data  h3{
    word-wrap: break-word;
}

.optionDelete {
    margin-top: 5px;
}

.optionDetail #detail {
    border: 1px black solid;
    background-color: #093faa;
    color: white;
    font-size: 15px;
}

.optionDelete #delete {
    border: 1px black solid;
    background-color: #f92b2b;
    color: white;
    font-size: 15px;
}

.message {
    margin: 0 25%;
    background-color: rgb(240, 249, 253);
    padding: 10%;
    border: solid black 1px;
    border-radius: 20px;
}

.message button {
    background-color: #093faa;
    color: white;
    font-size: 17px;
}

.back {
    margin-top: 0.5%;
    float: right;
}

.back button {
    font-size: 17px;
    color: white;
    background-color: #3b8eed;
}