body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 5%;
    text-align: center;
    height: fit-content;
    max-width: 100%;
    max-height: fit-content;
}

.container #title,
#description {
    text-align: justify;
    width: auto;
    height: auto;
    word-wrap: break-word;
    margin: 1% 0 0 0;
}

#description {
    font-size: 20px;
}

.contents {
    display: flex;
    justify-content: left;
    height: fit-content;
    flex-wrap: wrap;
    word-wrap: break-word;
}

#data {
    background-color: rgb(240, 249, 253);
    margin: 1%;
    padding: 0 2% 1% 2%;
    border: solid black 1px;
    border-radius: 20px;
}

.optionCreate {
    margin-top: 5px;
}

.optionList #list {
    border: 1px black solid;
    background-color: #50f1f1;
    color: black;
    font-size: 17px;
}

.optionCreate #create {
    border: 1px black solid;
    background-color: #093faa;
    color: white;
    font-size: 17px;
}

.message {
    margin: 0 20% 20% 20%;
    background-color: rgb(224, 230, 239);
    padding: 10%;
    border: solid black 1px;
    border-radius: 20px;
}

.message button {
    background-color: #093faa;
    color: white;
    font-size: 17px;
}