<link rel="stylesheet" href="/CSS/clasificacion.css" />

<form action="/clasificacion/agregar/" method="post">
    <div id="contenido">
        <div id="nombre">
            <label class="label-nombre">Nombre de clasificacion</label>
            <input class="input" type="text" name="nombre_clasificacion" id="nombre_clasificacion" checked aria-checked="true" />
        </div>
        <div id="guardar">
            <button class="boton" type="submit">Guardar</button>
        </div>
    </div>
</form>

<script src="/JS/objetivos.js"></script>