<link rel="stylesheet" href="/CSS/clasificacion.css" />

<form action="/clasificacion/agregar/" method="post">
    <div id="contenido">
        <div id="nombre">
            <label>Nombre de clasificaion</label>
            <input type="text" name="nombre_clasificacion" id="nombre_clasificacion" checked aria-checked="true" />
        </div>
        <div id="guardar">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>

<script src="/JS/objetivos.js"></script>