<link rel="stylesheet" href="" />
 <form action="/clasificacion/editar/{{user.idusuario}}" method="post">
    <div id="contenido">
        {{#each lista}}
        <div>
            <input type="text" name="idclasificacion" id="clasificacion" checked aria-checked="true" value="{{idclasificacion}}">
        </div>
        <div id="nombre_clasificacion">
            <label>Nombre</label>
            <input type="text" name="nombre_clasificacion" id="nombre" checked aria-checked="true" value="{{nombre_clasificacion}}"/>
        </div>
        {{/each}}
        <div id="guardar">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>