



   
 


<div class="menu" id="menu">

    <g class="Menu_slider">
        <p>Menu</p>
        <div class="menu_close">
            <button type="" class="btn-cerrar-popup" id="open-close"> <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2MgbOmjW5XamxCqhYpYU4cUJBoR5tCErAnA&usqp=CAU"
                    alt="" width="40px"></button>
        </div>
    </g>
    <hr>

    <div class="OPO">
        <a href="#">Proyecto</a>
    </div>

    <div class="OPO">
        <a href="#">Clasificaciones</a>
    </div>
    <div class="OPO">
        <a href="#">Pruebas</a>
    </div>
    <div class="OPO">
        <a href="#">Usuarios</a>
    </div>
    <div class="OPO">
        <a href="#">Ejercicios</a>
    </div>
    <div class="settings">
        <div>
             <a href="#">Ajustes</a>
        </div>

    </div>
    
</div>
{{#each User}}
<div class="user_primari_interfaz">

<div class="user_interfaz">
    <p>{{username}}</p>
    <div class="user_image">
     <button type="" class="btn-cerrar-popup"  id="Close-open">  <img src="/img/user/{{photo}}"
            width="45px" alt="">
        </button> 
    </div>
    
</div>
<div class="close_secion"id="close_secion" >
    <button  >Cerrar Seción</button>
</div>
</div>
 {{/each}}

<script src="../../public/js/menu.js"></script>

