<link rel="stylesheet" href="style.css">

<form action="/answer/add" method="post">
 <div id="container">
    <div id="title">
        <p>Agregar Prueba</p>
    </div>
    <div id="Nameanswers">
        <label>Nombre:</label>
        <input type="text" name="nameAnswers" id="" required aria-checked="true">
    </div>
    <div id="Descriptiontests">
        <label>Descripcion</label>
        <textarea name="descriptionAnswers" id="" required aria-checked="true"></textarea>
    </div>
    <div id="button">
        <button type="submit">Guardar</button>
    </div>
 </div>
</form>