<link rel="stylesheet" href="/css/answer/create.css">

<form action="/answers/create/{{user.idUser}}" method="post">
 <div id="container">
    <div id="title">
        <p>Respuesta</p>
    </div>
    <div id="answers">
        <label>Respuesta</label>
        <input type="text" name="answer" id="" required aria-checked="true">
    </div>
   
    <div id="button">
        <button type="submit">Guardar</button>
    </div>
 </div>
</form>