<link rel="stylesheet" href="/css/answer/list.css">
<form action="/answers/list/{{user.idUser}}" method="get"></form>

<div id="container">
    <div class="row">
        {{#each list}}
        <div id="card">
            <div id="id">
                <p>{{idAnswer}}</p>
            </div>
            <div id="name">
                <p>{{answer}}</p>
            </div>
            <div id="edit">
                <a href="/answers/update/{{idAnswer}}">
                <button type="button">Editar</button>
                </a>
            </div>
            <div id="createAnswers">
                <a href="/answers/create">
                <button type="button">Agregar</button>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>