<link rel="stylesheet" href="/css/answer/update.css">
{{#each list}} 
<form action="/answers/update/{{idAnswer}}" method="post">
 <div id="container">
    <div id="title">
        <p>Agregar Prueba</p>
    </div>
    <div id="nameAnswers">
        <label>Nombre:</label>
        <input type="text" name="answer" id="" required aria-checked="true" value="{{nameAnswers}}">
    </div>
    <div id="button">
        <button type="submit">Guardar</button>
    </div>
 </div>
 
</form>
{{/each}}