<link rel="stylesheet" href="/css/answer/update.css">
{{#each list}}
<form action="/answer/update/{{idAnswer}}" method="post">
    <div id="title">
        <p>Editar Respuesta</p>
    </div>
    <div id="container">
        <div id="nameAnswer" style="display: block;">
            <label>Respuesta</label>
            <input type="text" name="answer" id="" required aria-checked="true">
        </div>
        
        <div id="buttonGroup1">
            <div id="button-cancel">
                <button type="submit" id="btnCancel">Cancelar</button>
            </div>
            <div id="button">
                <button type="submit" id="btnCreate">Crear</button>
            </div>
        </div>
        
    </div>

</form>
{{/each}}