<link rel="stylesheet" href="/css/test/create.css">

<form action="/test/create/{{user.idUser}}" method="post">
    <div id="title">
        <p>Nueva Prueba</p>
    </div>
    <div id="container">

        <div id="name">
            <label>Nombre</label>
            <input type="text" name="nameTest" id="textElement" required aria-checked="true" />
        </div>
        <div id="description">
            <label>Descripcion</label>
            <textarea name="descriptionTest" id="textElement" required aria-checked="true"></textarea>
        </div>
        <div id="buttonCancel">
            <a href="/test/update/{{idTest}}"><button type="button">Cancelar</button></a>
        </div>
        <div id="buttonCreate">
            <button type="submit">Crear</button>
        </div>
    </div>
</form>