<link rel="stylesheet" href="/css/test/update.css">
{{#each list}}
<form action="/test/update/{{idTest}}" method="post">
    <div id="title">
        <p>Editar Prueba</p>
    </div>
    <div id="container">
        
        <div id="name">
            <label>Nombre</label>
            <input type="text" name="nameTest" id="textElement" required aria-checked="true" />
        </div>
        <div id="description">
            <label>Descripcion</label>
            <textarea name="descriptionTest" id="textElement" required aria-checked="true"></textarea>
        </div>
        <div id="buttonCancel">
            <a href="/test/list/{{user.idUser}}"><button type="button">Cancelar</button></a>
        </div>
        <div id="buttonCreate">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>
{{/each}}