<link rel="stylesheet" href="style.css">
{{#each list}} 
<form action="/tests/update/{{idTests}}" method="post">
 <div id="container">
    <div id="title">
        <p>Agregar Prueba</p>
    </div>
    <div id="nameTests">
        <label>Nombre:</label>
        <input type="text" name="nameTests" id="" required aria-checked="true" value="{{nameTests}}">
    </div>
    <div id="descriptionTests">
        <label>Descripcion</label>
        <textarea name="descriptionTests" id="" required aria-checked="true">{{descriptionTests}}</textarea>
    </div>
    <div id="button">
        <button type="submit">Guardar</button>
    </div>
 </div>
 
</form>
{{/each}}