<link rel="stylesheet" href="" />

<form action="/codificacion/agregar/" method="post">
    <div id="contenido">
        <div id="nombre">
            <label>Nombre de codificacion</label>
            <input type="text" name="nombre" id="codificacion" checked aria-checked="true" />
        </div>
        <div id="descripcion">
            <label>Descripcion</label>
            <textarea type="text" name="descripcion" id="descripcion_css" checked aria-checked="true"></textarea>
        </div>
        <div id="guardar">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>

<script src="/JS/objetivos.js"></script>