<link rel="stylesheet" href="/CSS/clasificacion.css"  />

<form action="/codificacion/agregar/{{user.idusuario}}" method="post">
   <div class="fondo">
    <div class="contenido" id="contenido">
     <h1 class="titulo">Agregar lenguaje</h1>
        <div class="contenido__nombre" id="nombre">
            <label class="label-nombre">Lenguaje</label>
            <input class="input" type="text" name="nombre" id="codificacion" checked aria-checked="true" />
        </div>
        <div class="" id="descripcion">
            <label class="label-nombre">Descripcion</label>
            <textarea class="descripcion__textarea"type="text" name="descripcion" id="descripcion_css" checked aria-checked="true"></textarea>
        </div>
        <div id="clasificacion">
            <p class="label-nombre">Clasificación:</p>
            <select  class="select" name="clasificacion" id="">
                {{#each clasificacion}}
                <option value="{{idclasificacion}}">{{nombre_clasificacion}}</option>
                {{/each}}
            </select>
        </div>
        <div id="guardar">
            <button  class="boton" type="submit">Guardar</button>
        </div>
    </div>
    </div>
</form>

<script src="/JS/objetivos.js"></script>