<link rel="stylesheet" href="/CSS/clasificacion.css"  />

<form action="/codificacion/agregar/{{user.idusuario}}" method="post">
    <div class="contenido" id="contenido">
     <h1 class="titulo-agregar">Agregar codificacion</h1>
        <div class="nombre" id="nombre">
            <label class="label-nombre">Nombre de codificacion</label>
            <input class="input" type="text" name="nombre" id="codificacion" checked aria-checked="true" />
        </div>
        <div class="descripcion" id="descripcion">
            <label class="descripcion__label">Descripcion</label>
            <textarea class="descripcion__textarea"type="text" name="descripcion" id="descripcion_css" checked aria-checked="true"></textarea>
        </div>
        <div id="clasificacion">
            <select  class="select" name="clasificacion" id="">
                {{#each clasificacion}}
                <option value="{{idclasificacion}}">{{nombre_clasificacion}}</option>
                {{/each}}
            </select>
        </div>
        <div id="guardar">
            <button  class="boton" type="submit">Guardar</button>
        </div>
    </div>
</form>

<script src="/JS/objetivos.js"></script>