#title {
    text-align: center;
    width: auto;
    height: auto;
    word-wrap: break-word;
    margin: -1% 0 0 0;
}

#container {
    max-width: 5%;
    max-height: fit-content;
    width: 100%;
    height: fit-content;
}

#update {
    position: absolute;
    width: 100%;
    height: fit-content;
    max-width: 40%;
    max-height: fit-content;
    top: 34%;
    left: 30%;
    text-align: center;
}

#bot {
    background-color: #b8b9bb;
    text-align: center;
    color: black;
    width: auto;
    border: none;
    border-radius: 8px;
    width: 150px;
    font-size: 16px;
}

#updateTr {
    position: absolute;
    background-color: white;
    width: 100%;
    height: fit-content;
    max-width: 20%;
    max-height: fit-content;
    top: 40%;
    left: 35%;
    text-align: center;
}

#butt1 {
    position: absolute;
    background: #004AAD;    /* color de fondo */
    color: #fff;    /* color de fuente */
    border: 2px solid #004AAD;    /* tamaño y color de borde */
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    padding: 5px 25px;
    top: 57%;
    left: 70%;
}

#but {
    position: absolute;
    background: #6f6f6f;    /* color de fondo */
    color: #fff;    /* color de fuente */
    border: 2px solid #6f6f6f;    /* tamaño y color de borde */
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    padding: 5px 25px;
    top: 57%;
    left: 30%;
}