<link rel="stylesheet" href="/src/public/css/project.css">

<form action="/project/add" method="post">
    <div class="container">
        <div id="title">
            <h1>NUEVO PROYECTO</h1>
        </div>
        <div id="card" class="card">
            <div id="name">
                <label>Nombre proyecto:</label>
                <input type="text" name="nameProject" id="nameProject" required aria-checked="true">
            </div>
            <div id="description">
                <label>Descripcion:</label>
                <textarea name="descriptionProject" id="descriptionProject" required aria-checked="true"></textarea>
            </div>
            <div id="logo">
                <label>Logo:</label>
                <textarea name="logoProject" id="logoProject" required aria-checked="true"></textarea>
            </div>
            <div id="missionProject">
                <label>Mision:</label>
                <textarea name="mission" id="mission" required aria-checked="true"></textarea>
            </div>
            <div id="visionProject">
                <label>Logo:</label>
                <textarea name="vision" id="vision" required aria-checked="true"></textarea>
            </div>
            <div id="canceled">
                <button type="submit" class="button">Cancelar</button>
            </div>
            <div id="save">
                <button type="submit" class="button">Guardar</button>
            </div>
        </div>
</form>

<div id="next">
    <form action="/project/list/{{user.id}}" method="get">
        <button class="button" type="submit">Ver proyectos registrados</button>
    </form>
</div>
</div>